mixin association(blocks, className)
    <!-- begin association -->
    div(class=className)
        each block in blocks
            each item in block.alumni
                if(item.review)
                    div(class= className+'__item')
                        div(class= className+'__info')
                            if(item.name)
                                p(class= className+'__photo')
                                    img(class= className+'__img' src= item.photo)
                            div(class= className+'__personal-data')
                                if(item.name)
                                    p(class= className+'__name')= item.name
                                if(item.position)
                                    p(class= className+'__position')= item.position
                        div(class= className+'__text')= item.review
                            details(class= className+'__review')
                                summary(class= className+'__text') Подробнее...
                                p= item.review_detail
                        div(class= className+'__text')= item.review
                            input(type="checkbox" class="read-more-state" id= item.id)
                            p(class="read-more-wrap")= item.review
                                span(class="read-more-target")= item.review_detail
                            label(for= item.id class="read-more-trigger")

    <!-- end association -->