mixin about (blocks, className)
    <!-- begin block -->
    div(class=className)
        each block in blocks
            if(block.about === pageClass)
                .colums
                    div
                        if(block.title)
                            h2(class= className+'__title')= block.title
                        if(block.text)
                            div(class= className+'__text')
                                each text in block.text
                                    p= text.line
                        if(block.list)
                            ul(class= className+'__list')
                                each list in block.list
                                    li= list.line
                        if(block.person)
                            p(class= className+'__person')
                                each line_2 in block.person.split('\n')
                                    span
                                        i= line_2
                    div
                        img(class= className+'__img' src= block.image)
                        if(block.links)
                            ul(class= className+'__links')
                                if(block.links_title)
                                    h3= block.links_title
                                each link in block.links
                                    li
                                        a(href= link.url target= '_blank')= link.text


    <!-- end block -->