mixin instituteInfo (cards, className)
    <!-- begin card -->
    div(class=className)
        each card in cards
            if card.info.length > 0
                each info in card.info
                    if(info.page === pageClass)
                        img(class= className+'__img' src= card.img)
                        div(class= className+'__info')
                            p(class= className+'__title')= card.name
                                br
                                span= card.subinfo
                            p= card.position1
                                br
                                span= card.position2
                        div(class= className+'__contacts')
                            p= card.tel
                            p= card.fax
                            p
                                if(card.mail)
                                    a(href= card.mail)= card.mail
                                if(card.mail_1)
                                    a(href= card.mail_1)= card.mail_1
                                if(card.mail_2)
                                    | , 
                                    a(href= card.mail_2)= card.mail_2

                            p= card.address
    <!-- end card -->